services:

  db:
    image: mongo
    volumes:
      - mongo_data:/data/db

  app:
    build: .
    environment:
      - MONGO_URI=mongodb://db:27017/securecrud
    depends_on:
      - db

  proxy:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/index.html:/usr/share/nginx/html/index.html
    depends_on:
      - app

volumes:
  mongo_data: